<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>

<div layout:fragment="content">
<div class="main">
    <div class="title">
        <p>User modify</p>
    </div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Modify user</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}" >
            <td><span th:text="${user.getFullName()}"> Name </span></td>
            <td><span th:text="${user.getEmail()}"> Email </span></td>
            <td><a th:href="@{modifyUser(username=${user.getUsername()})}" class="btn-table-a">Modify</a></td></td>

        </tr>
        </tbody>
    </table>

</div>

</div>>


</body>
</html>
